/* =====================================
   Top Bar Styles
   ===================================== */

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    /* Might be theme-specific */
    z-index: 100;
    transition: background-color 0.3s, border-color 0.3s;
}

.top-bar-left {
    width: 50%; /* Full width on smaller screens, auto on larger */
    display: flex;
    justify-content: center; /* Center on smaller screens */
    margin-bottom: 5px; /* Space below on smaller screens */
    order: 1; /* Control order for responsiveness */
}

.top-bar-right {
    width: 50%; /* Full width */
    display: flex;
    justify-content: center; /* Center content */
    margin-bottom: 5px; /* Add spacing between elements */
     order: 3; /* Control order for responsiveness */
}

/* Container for the right-side elements */
.top-bar-right-inner {
    display: flex;
    align-items: center; /* Vertically align items */
    gap: 30px; /* Spacing between items */
}

.top-bar-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    width: 100%;
    order: 2; /* Control order for responsiveness */
}