<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="OpenRegex is a self-hosted, open-source web application designed for testing and debugging regular expressions (regex). It supports multiple engines, including Python (re, regex), Java, JavaScript, and C++.">
    <meta name="keywords"
          content="regex, open , open regex, openregex, regular expression, tester, debugger, python, java, javascript, c++, re, regex module, free, web regex tool, self-hosted regex, open source">
    <meta name="author" content="{{app_author}}">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ app_name }} - {{ app_description }}">
    <meta property="og:description" content="OpenRegex is a self-hosted, open-source web application designed for testing and debugging regular expressions (regex). It supports multiple engines, including Python (re, regex), Java, and C++.">
    <meta property="og:image" content="{{ url_for('static', filename='logo.svg') }}">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ app_name }} - {{ app_description }}">
    <meta name="twitter:description" content="OpenRegex is a self-hosted, open-source web application designed for testing and debugging regular expressions (regex). It supports multiple engines, including Python (re, regex), Java, and C++.">
    <meta name="twitter:image" content="{{ url_for('static', filename='logo.svg') }}">
    <meta name="twitter:url" content="{{ request.url }}">

    <title>{{ app_name }} - {{ app_description }}</title>

    <!-- Base Styles -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style id="dynamic-styles"></style>
</head>

<body class="light-theme">
<div class="top-bar">
    <div class="top-bar-left">

    </div>
    <div class="top-bar-center">
        <a href="{{ app_link }}" target="_blank" class="app-link" title="Official website: {{ app_link }}">
            <!-- Added span for the icon -->
            <span class="app-name"><img src="{{ url_for('static', filename='logo.svg') }}" alt="OpenRegex Logo" class="app-icon"></span>
        </a>
    </div>
    <div class="top-bar-right">
        <!-- Container for switcher and info -->
        <div class="top-bar-right-inner">
            <button id="theme-switcher" class="theme-switcher"></button>
            <div id="engine-info" class="engine-info">
                <table class="info-table">
                    <tr>
                        <td>Engine:</td>
                        <td id="selected-engine-name">
                            <select id="engine-selector" class="engine-selector">
                                {% for engine in engines %}
                                <option value="{{ engine }}">{{ engine }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Version:</td>
                        <td id="selected-engine-version" class="selected-engine-version"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <button id="toggle-cheat-sheet" class="collapse-button">Show Cheat Sheet</button>
    <div id="cheat-sheet-wrapper">
        <div id="regex-cheat-sheet" class="regex-cheat-sheet">
            <div id="regex-cheat-sheet-left"></div>
            <div id="regex-cheat-sheet-right"></div>
        </div>
    </div>
    <div class="output-container">
        <div class="output-left">
            <div class="inputs">
                <div class="input-group">
                    <div class="input-header">
                        <h3>Input Regex:</h3>
                        <div class="button-group">
                            <button id="generate-link" class="generate-link-button" title="Get Link">
                                <i class="fas fa-share-nodes"></i>
                            </button>
                            <button id="fill-example" class="example-button" title="Load Example">
                                <i class="fas fa-lightbulb"></i>
                            </button>
                            <button id="clear-input" class="clear-button" title="Clear">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                    <textarea id="regex-input" class="text-highlight" name="regex_input" rows="2"
                              placeholder="Enter your regex pattern here"></textarea>
                </div>
                <div class="input-group">
                    <h3>Input Text:</h3>
                    <textarea id="text-input" class="text-highlight" name="text_input" rows="6"
                              placeholder="Enter text to match against"></textarea>
                </div>
            </div>
            <div class="output">
                <div class="output-text-group">
                    <h3>Output Regex:</h3>
                    <div id="highlight-regex" class="text-highlight"></div>
                </div>
                <div class="output-text-group">
                    <h3>Output Text:</h3>
                    <div id="highlight-text" class="text-highlight"></div>
                </div>
            </div>
        </div>
        <div class="output-right">
            <div class="output-matches">
                <div class="matches-header">
                    <h3>Matches:</h3>
                    <div>
                        <span id="web-time" class="output-web-time"></span>
                        <span id="exec-time" class="output-exec-time">{{ execution_time }}</span>
                    </div>

                </div>
                <div id="matches-table" class="output-matches-table"></div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-top">
        <a href={{ app_repository }} target="_blank" class="github-link">
            <i class="fab fa-github"></i> Source Code
        </a>
        <a href={{ app_linkedin }} target="_blank" class="linkedin-link">
            <i class="fab fa-linkedin"></i> {{app_author}}
        </a>
        <a href={{ app_docker_link }} target="_blank" class="docker-link">
            <i class="fab fa-docker"></i> DockerHub
        </a>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-inner">
            <span><strong>Version:</strong> <span>{{ app_version }}</span></span>
            <span><strong>Release date:</strong> <span>{{ app_release_date }}</span></span>
            <span><strong>Powered by <a href="https://flask.palletsprojects.com/"
                                        target="_blank">Flask</a></strong></span>
        </div>
    </div>
</footer>
<div id="mode">
    <span>{{ app_debug_mode }}</span>
</div>
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>